@{
    ViewData["Title"] = "Mi Pagina";
    //Layout = "~/Views/Shared/_miLayot.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!!!</h1>
    <p>
        Hola mi texto
        <a href="https://www.google.com">Google</a>.
    </p>
</div>


@{
    if (true)
    {
        <p>Todo bien!!!</p>
    }
    else
    {
        <p>Todo mal!!!</p>
    }

    var mivaria = "Pepito";
}

<h2>Sub titulo</h2>

@ViewData["Title"]

@mivaria

