<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mi Layout</title>
</head>
<body style="color:red">

    <h1>Este es mi layout</h1>
    @RenderBody()

</body>
</html>
